@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @*<h2 style="color : palevioletred;">  Welcome  </h2>*@
    <img src="https://th.bing.com/th/id/OIP.sksIKfymzvWZZMg1x8ZONwHaHa?pid=ImgDet&rs=1" alt=" "  width="50%" height="50%" />
   
 
   @* <img src="https://www.newspacebi.com/wp-content/uploads/2015/09/Reception-area.jpg" width="100%" />*@
   
</div>